/* Getting Started */

body {
    color: blue;
    background: purple;
    border: thin dotted yellow;
    width: 600px;
    
}

h1 {
    text-align: center;
    text-transform: uppercase;
}

ul {
    background-color: aqua;
    line-height: 32px;
    text-align: center;
}